
@{
    ViewBag.Title = "Index";

}

<h2>All Details</h2>
<div>
@using (Ajax.BeginForm("DownloadExcel", "Demo", new AjaxOptions { HttpMethod = "POST" }))
{
  
        Html.RenderAction("BookDetails");
        Html.RenderAction("CourseDetails");
        Html.RenderAction("TeacherDetails");
    
    <input type="submit" value="Download In Excel" />
        }
</div>